@model BlogicRM_.Models.Contract

@{
    ViewData["Title"] = "Založit smlouvu";
}

<h1>@ViewBag.Title</h1>

<h4>Smlouva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EvidenceNumber" class="control-label"></label>
                <input asp-for="EvidenceNumber" class="form-control" />
                <span asp-validation-for="EvidenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstitutionID" class="control-label"></label>
                <select asp-for="InstitutionID" class ="form-control" asp-items="ViewBag.InstitutionID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClientID" class="control-label"></label>
                <select asp-for="ClientID" class ="form-control" asp-items="ViewBag.ClientID"></select>
            </div>
            <div class="form-group">
                <label asp-for="AdministratorID" class="control-label"></label>
                <select asp-for="AdministratorID" class ="form-control" asp-items="ViewBag.AdministratorID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ConclusionDate" class="control-label"></label>
                <input asp-for="ConclusionDate" class="form-control" />
                <span asp-validation-for="ConclusionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidityDate" class="control-label"></label>
                <input asp-for="ValidityDate" class="form-control" />
                <span asp-validation-for="ValidityDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Založit smlouvu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zpět na seznam smluv</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
